.searchBox {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0;
  margin-bottom: 10%;
}

.searchBox > input[type='text'] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  width: 100%;
  font: 300 1.1vmax cursive;
  box-sizing: border-box;
  height: 8%;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 12px;
  padding: 1.9vmin 1vmin;
}

.searchBox > input[type='submit'] {
  background: transparent url('../../images/Search.png') no-repeat right center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  /* position: relative; */
  border-radius: 0px 5px 5px 0;
  background-color: rgb(204, 204, 204);
  border: none;
  padding: 0.75vmax 2vmin;
  font: 300 1.1vmax 'Roboto';
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.searchBox > input[type='submit']:hover {
  background-color: rgb(55, 97, 214);
}

@media screen and (max-width: 600px) {
  .searchBox {
    margin-bottom: 10%;
  }
  .searchBox > input[type='text'] {
    position: relative;
    top: -25%;
    width: 100%;
    font: 300 4vw cursive;
    height: 10%;
  }

  .searchBox > input[type='submit'] {
    position: relative;
    top: -25%;
    height: 10%;
    width: 30%;
    font: 300 4vw 'Roboto';
    padding: 1.2vmax 2vmin;
  }
}
